$nav-color: #1C1C1C;
$nav-a-color: #FFFFFF;
$nav-before-color: #E27866;
$nav-hover-color: #FFFFFF;
$nav-font: "montserrat";
$tab-backround: #A37169;
$reward-color: #212121;
$reward-p-color: #86878B;
$reward-h2-color: #333333;
$flex-background: #6696E2;
$diviner-color: #41D395;